.product-card {
  display: inline-flex;
  margin: 1rem;
  box-sizing: border-box;
  margin-top: 5rem;
}

.truncated {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expanded {
  white-space: normal;
}

.img {
  height: 280px;
}
